@charset "UTF-8";

div{
  width: 200px;
  height: 100px;
  background-color: #6028D3;
  transition-property: width height;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(.11,.94,1,-0.34)
  }

div:hover{
  width: 300px;
  height: 300px;
}
